.details {
  display: block;
  margin-top: 10px;
  color: #3b726c;
  font-weight: 700;
}

.details i {
  font-size: 12px;
}

a.schedule {
  color: #3b726c;
  text-decoration: underline;
  margin-top: 20px;
  display: block;
}
