---
layout: page
title: "Committee"
description: ""
nav-weight: 4
---
<section>
    <h2>Executive for 2017</h2>
    <dl class="dl-horizontal">
        {% for exec in site.data.executive %}
        <dt>{{ exec.position }}</dt>
        <dd>{{ exec.member }}</dd>
        {% endfor %}
    </dl>
</section>

<section>
    <h2>Directors for 2017</h2>
    {% for term in site.data.directors.terms %}
        <h3>{{ term.year }} year of {{ site.data.directors.term_length }} year term</h3>
        <ul>
            {% for director in term.directors %}
            <li>{{ director }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>

<section class="department-heads">
    <h2>The Department Heads for 2016</h2>

    <table class="table table-striped full">
    {% for dept in site.data.departments %}
    <tr>
        <td class="dept-name"><span>{{ dept.name }}</span></td>
        <td>
            {% for head in dept.heads %}
            {{ head }}
            {% unless forloop.last %}<br>{% endunless %}
            {% endfor %}

        </td>
    </tr>
    {% endfor %}
    </table>

    <table class="table table-striped mobile">
    {% for dept in site.data.departments %}
    <tr><td colspan="2" class="dept-name">{{ dept.name }}</td></tr>
    <tr>
        <td>
            {% for head in dept.heads %}
            {{ head }}
            {% unless forloop.last %}<br>{% endunless %}
            {% endfor %}
        </td>
 <!--        <td>
            {% for head in dept.heads %}
            {{ site.data.committee_members[head].phone }}
            {% unless forloop.last %}<br>{% endunless %}
            {% endfor %}
        </td> -->
    </tr>
    {% endfor %}
    </table>
</section>
