---
layout: page
description: "Come Home to the Fair"
nav-weight: 1
---

<section class="schedule">
    <h2>2016 Schedule</h2>
    {% for day in site.data.schedule.days %}
    <h3>{{ day.date | date: "%A, %B %-d" }}</h3>
    <table class="table table-striped table-bordered">
        {% for event in day.events %}
        <tr>
            <td class="event-time">
                <span>
                {% if event.start_time %}
                {{ event.start_time | date: "%l:%M %p" }}
                {% if event.end_time %}
                 - {{ event.end_time | date: "%l:%M %p" }}
                {% endif %}
                {% else %}
                TBD
                {% endif %}
                </span>
            </td>
            <td>
                <strong>{{ event.name }}</strong>
                <p class="description">{{ event.description }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <h3>Ongoing</h3>
    <ul class="ongoing">
    {% for attraction in site.data.schedule.ongoing %}
        <li>
            {{ attraction }}
        </li>
    {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/static_files/2016_schedule.pdf">View more events on the full schedule</a>
</section>

<section class="dates">
    <h2>2016 Fair Dates</h2>
    <ul>
        <li>Friday, August 19</li>
        <li>Saturday, August 20</li>
        <li>Sunday, August 21</li>
    </ul>
</section>

<section class="location">
    <h2>Location</h2>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5514.72299381145!2d-66.74160684576015!3d46.28279203745296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca4756b051993dd%3A0xf5fd1db5b93cf9e4!2s23+Centennial+St%2C+Stanley%2C+NB+E6B!5e0!3m2!1sen!2sca!4v1435529644509" width="290" height="290" frameborder="0" allowfullscreen></iframe>
    </div>
    <address>
        <p>Stanley Fair Grounds</p>
        <p>23 Centennial Street</p>
        <p>Stanley, NB</p>
    </address>
    <div class="clear"></div>
</section>

<section class="book">
    <h2>Fair Book</h2>
    <p>For 2016 we will be using the 2014 Exhibitor’s Manual AKA “Fair Book”, with a few updates and changes. <a href="{{ site.baseurl }}/static_files/2014_fair_book.pdf">Download the 2014 edition here</a> or pick up a hard copy at Stanley area businesses:</p>
    <ul>
        <li>Johnstone’s PharmaChoice</li>
        <li>Hillside Convenience</li>
        <li>Stanley Community Library</li>
        <li>Taymouth Community Center</li>
    </ul>
    <p><a href="{{ site.baseurl }}/static_files/2016_exhibitors_manual_revisions.pdf">Download the 2016 Corrections, Changes, and Additions to the Fair Book here</a>.</p>
    </section>

    <section class="exhibitor-sheet">
    <h2>Exhibitor's Sheet</h2>
    <p>For 2016 there are no changes to the Exhibitor’s Sheet. <a href="{{ site.baseurl }}/static_files/2015_exhibitors_sheet.pdf">Download the 2015 edition here</a>.</p>
</section>
